<!-- jQuery, Popper.js, and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Utiliser des chemins relatifs pour les fichiers locaux -->
<script src="/main.js"></script>
</body>
</html>

<footer>
    <div class="footer-content">
        <p>&copy; 2023 Benattar. Tous droits réservés.</p>
        <ul>
            <li><a href="/collaborateur/rss-feed" class="private-access">Accès privé</a></li> <!-- Lien discret -->
        </ul>
    </div>
</footer>
