<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benattar Immobilier</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Bienvenue chez Benattar Immobilier</h1>
    </header>
    <%- include('nav') %> <!-- Inclusion de la barre de navigation -->
