<nav>
    <!-- Menu navigation -->
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">À propos</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/properties">Propriétés</a></li>
        <li><a href="/news">Actualités</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
