<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">À Propos</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/properties">Biens Immobiliers</a></li>
        <li><a href="/news">Actualités</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
